/* RESET PRINCIPALE */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
/* BODY */
body{
    background-color: #e5f1f8;
    font-family: 'Roboto', sans-serif;
}
/* HEADER BODY */
.header-body{
    height: 70px;
    background-color: white;
    
}
#logo-header{
    vertical-align: middle;
    padding-left: 1%;
    padding-top: 0.5%;
}
#nome-header{
    vertical-align: middle;
    font-weight: 900;
    display: inline-block;
}

/* CONTAINER */
.container{
    width: 80%;
    height: 50px;
    background-color: white;
    margin: 50px auto;
}

.container-2{
    width: 80%;
    background-color: white;
    margin: 50px auto;
    padding: 1%;
}

/* BUTTON  */
.button-header{
    margin-top: 15px;
    margin-left: 15px;
}

/* LISTA GENERICO */
ul {
    list-style-type: none;
}
.font-list2{
    font-weight: 500;
}
.text-list{
    font-weight: 500;
    margin-bottom: 30px;
}

/* UNICODE */

/* UNICODE GENERICO */

.unicode-freccia::before{
    content: '\25BC';
}
.unicode-cerchio::before{
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    font-size: 0.9em;
    
}

/* UNICODE LISTA */
.unicode-checkgreen::before{
    content: '\2713';
    color: green;
}
.unicode-checkred::before{
    content: '\2717';
    color: red;
}

/* TAG  */

/* TAG GENERICO */
.tag-design::after{
    font-size: 0.6em;
    color: white;  
    border-radius: 10%;
    padding: 5px;
}
/* TAG LISTA */
.tag-editorial::after{
    content:'Editorial';
    background-color: #45abea;
}
.tag-q1::after{
    content:'Q1 Goals';
    background-color: #9c72e4;
}
.tag-recruiting::after{
    content:'Recruiting';
    background-color: #64c0a9;
}
.tag-mobile::after{
    content:'Mobile';
    background-color: #f29e33;
}
.tag-website::after{
    content:'Website';
    background-color: #d863a1;
}
.tag-sales::after{
    content:'Sales';
    background-color: #b0c926;
}