/* RESET PRINCIPALE */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
/* BODY */
body{
    background-color: #e5f1f8;
    font-family: 'Roboto', sans-serif;
}
/* HEADER BODY */
.header-body{
    height: 70px;
    background-color: white;
    
}
#logo-header{
    vertical-align: middle;
    padding-left: 1%;
    padding-top: 0.5%;
}
#nome-header{
    vertical-align: middle;
    font-weight: 900;
    display: inline-block;
}

/* CONTAINER */
.container{
    width: 80%;
    height: 50px;
    background-color: white;
    margin: 50px auto;
}

.container-2{
    /* width: 80%;
    height: 50px;
    background-color: white;
    margin: 50px auto; */
}

/* BUTTON  */
.button-header{
    margin-top: 15px;
    margin-left: 15px;
}

/* UNICODE */

.unicode-freccia::before{
    content: '\25BC';
}